body {
    font-family: sans-serif;
    margin: 0 50px;
}

.container {
    display: flex;
    padding: 10px;
    width: 100%;
    gap: 50px; /* espaço para linhas e colunas ao mesmo tempo */
    border: 1px solid black;
}

.images {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.textarea, #input, .right {
    width: 100%;
}

#posts {
    width: 400px;
}

#posts div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options {
    display: flex;
    gap: 25px;
}

#msg {
    color: red;
}